/*
    The main contents is lowered to account for the size of a fixed header.
 */
.MainSegment {
    margin-top: 100px !important;

    max-width: 823px;
}

/*
    The anchors for navigation links should be a short distance above
    the actual content, to account for a fixed header, and for easier viewing.
 */
.ContentAnchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.ui.divider {
    margin: 40px 0;
}

.ui.huge.header {
    font-size: 2.5em;
}

p {
    font-size: 1.1em;
}

.subsection {
    margin-top: 40px;
}

blockquote {
    margin: 0;
    margin-bottom: .85em;
    padding: 0 15px;
    color: #858585;
    border-left: 4px solid #e5e5e5;
}